<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid justify-content-end">
    <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-primary me-2" %>
    <%= link_to "Back to home page", lists_path, class: "btn btn-primary" %>
  </div>
</nav>

<h2><%= @list.name %></h2>
<ul class="movie-list">
  <% @list.movies.each do |movie| %>
    <li class="movie-item">
      <div class="movie-title"><%= movie.title %></div>
      <%= image_tag movie.poster_url, alt: "Movie Poster", class: "movie-poster" %>
    </li>
  <% end %>
</ul>
